
@{
    ViewBag.Title = "Updates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div align="center">
    <a class="twitter-timeline" width="500" data-chrome="noheader nofooter" href="https://twitter.com/road_lk?ref_src=twsrc%5Etfw"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>


