@{

    ViewBag.Title = "About";
    
}

<hr />

<h5> About Ride With Me </h5>

<hr />

<p>
    This application was created to encourage people of Sri Lanka to assist in the formation and management of carpools.

</p>

<p>
    I thought of building this application after realizing how much time people have to waste on the road due to high volume of vehicles/traffic in urban areas.

</p>

<p>
    While on the traffic, if you look around, you will notice that in almost every vehicle, there is only one person.

</p>

<p>
    The question is, "Should there be so much space allocated to a single person on the road?"
</p>

<p>
    In a typical car, you can at least accommodate 3 or 4 people comfortably.
</p>

<p>
    Keeping that in mind, If you carpool with people who are travelling the same way as you are, you could save so much space on the road. Long term, this will eventually lead to less road traffic.
</p>

<p>
    Environmental wise this will reduce the amount of carbon dioxide and noxious gases released to environment.
</p>

<p>
    This application is fast, secure and simple to use.
</p>

<p>
    Start carpooling today and be a part of the change Sri Lanka needs!!
</p>




