@{
    ViewBag.Title = "Contact";
}

<hr />

<div class="card testimonial-card">

    <br />

    <!-- Avatar -->
    <div class="avatar mx-auto white">
        <img src="~/Content/face.jpg" height="150" width="150" class="rounded-circle">
    </div>

    <!-- Content -->
    <div class="card-body">
        <!-- Name -->
        <h4 class="card-title text-center"><strong> Paranthaman Pranavan </strong></h4>
        <hr>
        <!-- Quotation -->
        <p class="text-center">


            <strong> Need Help? </strong>

            <br />

            <strong> <a href="mailto:pranaone@live.com"> <i class="far fa-envelope text-dark"> </i> Email Me </a> </strong>

            <br />

            <strong> Follow me on Social Media.. </strong>
            <br />

            <strong> <a href="https://www.facebook.com/xpranaone"> <i class="fab fa-facebook-square text-dark"> </i> Facebook </a> </strong>

            <strong> <a href="https://www.instagram.com/prana_one"> <i class="fab fa-instagram text-dark"> </i> Instagram </a></strong>

            <strong> <a href="https://twitter.com/pranaone"> <i class="fab fa-twitter-square text-dark"> </i> Twitter </a> </strong>

            <strong> <a href="https://www.linkedin.com/in/pranaone"> <i class="fab fa-linkedin text-dark"> </i> LinkedIn </a> </strong> <br />

            <strong> View My Other Projects.. </strong>
            <br />

            <strong> <a href="https://github.com/pranaone"> <i class="fab fa-github-square text-dark"> </i> Git Hub </a> </strong>



        </p>
    </div>

</div>

